*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    font-family: 'Poppins';
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}

a, ul, li {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1320px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.pt-5{
    padding-top: 50px;
}

.navbar{
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.navlist ul {
    display: flex;
}

.navlist li {
    padding: 0 10px;
}

.banner-image{
    text-align: center;
}

.banner-image img{
    max-width: 100%;
}

.banner-content{
    text-align: center;
    font-size: 18px;
   
}

.banner-title{
   font-weight: 600;
   
}

.banner-description {
    font-weight: 400;
    padding: 18px 27px;
    margin: 25px 25px;
}

.banner-content button {
    padding: 14px 40px;
    
    font-size: 14px;
    background-color: #EB1561;;
    color: #fff;
    border: none;
    border-radius: 5px;
}