*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    display: flex;
    padding: 15px 15px;
    height: 669px;

}

.col-1{
    display: flex;
    font-family: [poppins];
    font-weight: 500 medium;
    
 }
 .image{
    max-width: 40%;
    justify-content: left;
    height: 523px;
    left: 64px;
    top: 140px;
    
    
}

.image img{
    text-align: left;
    padding-left: 15px;

}

@media all and (max-width: 400px) {

    .image img{
        max-width: 0px;
    }

    .block{
        align-items: center;
        padding: 15px;
        max-height: 550px;
        max-width: 400px;
    }
    .col-1{
        display: flex;
        background-color: lightslategray;
        
    }

}

.block{
    padding-right: 15px;
    width: 40%;
    background-image: url(./img/Rectangle.png);
    background-position: buttom;
    background-size: cover;
    display: flex;
    height: 669px;

}

form{
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    
}
 

